<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Timestamp Microservice</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">

  </head>
  <body>
    <header>
      <h1>Timestamp Microservice</h1>
    </header>

    <main></main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
  </body>
</html>
